@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(221, 100%, 96%);
}

.card{
    width: 390px;
    height: 500px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 20px;
    color: white;
    font-family: 'Hanken Grotesk';
}

.ur{
    padding: 20px;
    font-size: x-large;
    color: rgb(167, 167, 167);
    font-weight: 400;
}
.div{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.H1{
    font-size: 100px;
    color: white;
}
.pare{
    color: rgb(167, 167, 167);
    font-weight: 400;
}
.T{
    padding-left: 150px;
    font-weight: 800;
    font-size: 30px;
}
.SS{
    padding: 50px;
    padding-top: 30px;
    font-size: larger;
    text-align: center;
    font-weight: 400;
}
.container{
    width: 390px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    font-family: 'Hanken Grotesk';
}
.suum{
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
}
.reaction{
   background-color:hsl(0, 46%, 84%);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    height: 60px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

 .reaction > .left2{
    display: flex;
}

.right{
    display: flex;
    align-items: center;
}

.p{
    font-size: 30px;
}

.a{
    font-size: 30px;
    color: rgb(172, 168, 168);
}

.hea{
    color: red;
    padding-left: 15px;
}

.memory{
    background-color:hsl(40, 94%, 88%);
     display: flex;
     justify-content: space-between;
     border-radius: 10px;
     height: 60px;
     align-items: center;
     padding-left: 10px;
     padding-right: 10px;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 20px;
 }
 
  .memory > .left3{
     display: flex;
 }
 
 .right3{
     display: flex;
     align-items: center;
 }
 
 .pa{
     font-size: 30px;
 }
 
 .ar{
     font-size: 30px;
     color: rgb(172, 168, 168);
 }
 .eat{
    color: orange;
    padding-left: 15px;
 }
 

 .verbal{
    background-color:rgb(161, 238, 161);
     display: flex;
     justify-content: space-between;
     border-radius: 10px;
     height: 60px;
     align-items: center;
     padding-left: 10px;
     padding-right: 10px;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 20px;
 }
 
  .verbal > .left5{
     display: flex;
 }
 
 .right5{
     display: flex;
     align-items: center;
 }
 
 .po{
     font-size: 30px;
 }
 
 .ra{
     font-size: 30px;
     color: rgb(172, 168, 168);
 }
 .hd{
    color: green;
    padding-left: 15px;
 }

 .visual{
    background-color:hsl(234, 75%, 65%);
     display: flex;
     justify-content: space-between;
     border-radius: 10px;
     height: 60px;
     align-items: center;
     padding-left: 10px;
     padding-right: 10px;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 20px;
 }
 
  .visual > .left4{
     display: flex;
 }
 
 .right4{
     display: flex;
     align-items: center;
 }
 
 .poe{
     font-size: 30px;
 }
 
 .rat{
     font-size: 30px;
     color: rgb(172, 168, 168);
 }
 .hdo{
    color: blue;
    padding-left: 15px;
 }

 .button{
    padding: 20px 140px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 30px;
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 15px;
 }